<% if signed_in? %>
  <% if @tasks.size == 3 %>
    <p class="text-center">You can't add any more tasks, get to work!</p>
    <%= render "layouts/tasktable" %>
  <% elsif @tasks.size == 2  %>
    <div class="add-task-container text-center">
      <i class="fa fa-plus-square-o"></i>
      <%= link_to 'Add a Task', new_task_path, {class: "add-a-task"} %>
    </div>
    <hr>
    <%= render "layouts/tasktable" %>
    <hr>
    <div class="task-number-container">
      <p class="text-center"><span class="task-number">1</span></p>
      <p class="text-center task-left">task left</p>
    </div>
    <hr>
  <% elsif @tasks.size == 1  %>
    <div class="add-task-container text-center">
      <i class="fa fa-plus-square-o"></i>
      <%= link_to 'Add a Task', new_task_path, {class: "add-a-task"} %>
    </div>
    <hr>
    <%= render "layouts/tasktable" %>
    <hr>
    <div class="task-number-container">
      <p class="text-center"><span class="task-number">2</span></p>
      <p class="text-center task-left">tasks left</p>
    </div>
    <hr>
  <% else %>
    <div class="add-task-container text-center">
      <i class="fa fa-plus-square-o"></i>
      <%= link_to 'Add a Task', new_task_path, {class: "add-a-task"} %>
    </div>
    <hr>
    <div class="task-number-container">
      <p class="text-center"><span class="task-number">3</span></p>
      <p class="text-center task-left">tasks left</p>
    </div>
    <hr>
  <% end %>
  
  <div id="flash">
    <% flash.each do |key, value| %>
      <div class="flash <%= key %>"><%= value %></div>
    <% end %>
  </div>

<% else %>
  <%= link_to 'Sign in', sign_in_path %>
<% end %>