<% if signed_in? %>
  <% if @tasks.size < 3 %>
  <p class="text-center"><%= @limit %></p>
  <hr>
    <%= form_for :task, html: {class: "form-group"} do |f| %>
    <%= f.label :name %> 
    <%= f.text_field :name, class:"form-control" %>
    <%= f.label :description %> 
    <%= f.text_field :description, class:"form-control" %><br>
    <%= f.submit "Create", class: "btn btn-default" %>
    <% end %>
  <% else %>
    <p class="text-center">Looks like you have enough tasks to keep you busy. Get to work!</p>
  <% end %>

<table class="table table-bordered table-striped" id="sortable">
  <tbody>
    <% @tasks.each do |task| %>
      <tr data-item-id=<%= "#{task.id}" %> class="item">
        <td>
          <%= link_to task.name, task_path(task) %>
        </td>
        <td>
          <%= link_to 'Mark as Completed', task_path(task), :method => :delete, :class => 'btn btn-default pull-right' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
  
  <div id="flash">
    <% flash.each do |key, value| %>
      <div class="flash <%= key %>"><%= value %></div>
    <% end %>
  </div>

<% else %>
  <%= link_to 'Sign in', sign_in_path %>
<% end %>