<div id="clearance" class="sign-up">
  <h2>Edit your profile here</h2>

  <%= form_for @user do |form| %>
    <%= render partial: '/users/form', object: form %>

    <%= form.label(:avatar, :"Upload your avatar")  %>
    <%= form.file_field :avatar %><br>

    <%= form.label(:background, :"Upload your background")  %>
    <%= form.file_field :background %><br>

   <!--  <p>... or choose one of ours!</p>

    <div class="row">
      <%# @backgrounds.each_with_index do |background, index| %>
        <div class="col-md-4">
          <label for="background-<%#= index %>">
           <input type="radio" id="background-<%#= index %>" name="ourbackground" value="<%#= background %>" />
           <img src="<%#= background %>" class="img-thumbnail background make-room" />
          </label>
        </div>
      <%# end %>
    </div> -->

    <div class="submit-field">
      <%= form.submit 'Update', class:"btn btn-info" %>
    </div><br>
  
  <% end %>
</div>
