<div id="clearance" class="sign-up">
  <h2>Edit your profile here</h2>

  <%= form_for @user do |form| %>
    <%= render partial: '/users/form', object: form %>

    <%= form.file_field :avatar %>

    <div class="submit-field">
      <%= form.submit %>
    </div>

    <div class="other-links">
      <%= link_to t(".sign_in"), sign_in_path %>
    </div>
  <% end %>
</div>
