<!DOCTYPE html>
<html>
<head>
<% if signed_in? %>
  <title><%= current_user.name %>'s 3 Tasks</title>
<% else %>
  <title>3 Tasks</title>
<% end %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<% if signed_in? %>
  <body style="background: url(<%= current_user.background.url %>) no-repeat center center fixed; background-size: cover;">
<% else %>
  <body style="background: url(/assets/bground/1.jpg) no-repeat center center fixed; background-size: cover;">
<% end %>
  
  <%= render "layouts/header" %>

  <div class="container main">
    <%= yield %>
  </div>

</body>
</html>