<!DOCTYPE html>
<html>
<head>
<% if signed_in? %>
  <title><%= current_user.name %>'s 3 Tasks</title>
<% else %>
  <title>3 Tasks</title>
<% end %>
  <link href='http://fonts.googleapis.com/css?family=Bitter|Raleway:400,700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<% if signed_in? %>
  <body style="background: url(<%= current_user.background.url %>) no-repeat center center fixed; background-size: cover;">
<% else %>
  <body style="background: url(/assets/bground/1.jpg) no-repeat center center fixed; background-size: cover;">
<% end %>
  
  <%= render "layouts/header" %>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="today">
          <h1 class="text-center"><%= Time.now.strftime("%A") %></h1>
          <h2 class="text-center"><%= Time.now.strftime("%R") %></h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3"></div>
        <div class="col-md-6 main">
          <%= yield %>
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>


</body>
</html>